// ------------------------------------
// Components > Content
// ------------------------------------

.c-post {
  margin: 0 auto;
  padding: 0 var(--grid-margin);
  max-width: var(--content-width);

  > * + * {
    margin-top: var(--content-flow);
  }
}

.c-content {
  display: flex;
  align-items: center;
  flex-direction: column;

  &:empty {
    display: none;
  }


  > * {
    min-width: 100%;
  }

  > * + * {
    margin-top: var(--content-flow);
  }

  // Remove space between full-width cards
  > .kg-width-full + .kg-width-full:not(.kg-width-full.kg-card-hascaption + .kg-width-full) {
    margin-top: 0;
  }

  :where(p, ol, ul) {
    @include font($family: serif, $scale: 3);
  }

  blockquote {
    @include font($family: serif, $scale: 3);
    font-size: var(--font-size-scale-3);
    
    @include mq($from: tablet) {
      font-size: var(--font-size-scale-3);
    }
    
    @include mq($from: desktop) {
      font-size: var(--font-size-scale-body-copy);
    }
  }

  h2, h3 {
    font-weight: var(--font-weight-semibold) !important;
  }

  :where(h1, h2, h3) + * {
    margin-top: calc(var(--content-flow) / 2);
  }

  a:not([class]) {
    @include link_underline();

    color: var(--color-accent);
  }

  :where(hr) {
    margin: var(--content-flow) 0;

    + * {
      margin-top: 0;
    }
  }

  :is(dd, ol, ul) {
    padding-left: var(--space-16);
    padding-right: var(--space-16);
  }

  // Hide Ghost built-in upgrade call to action box
  .gh-post-upgrade-cta {
    display: none;
    visibility: hidden
  }

  // Fade out effect for last paragraph before paywall (only when shadow class is present)
  &--has-shadow {
    > p:last-of-type:not(.kg-card):not(.kg-cta-card) {
      position: relative;
      mask-image: linear-gradient(to bottom, black 0%, black 50%, transparent 100%);
      -webkit-mask-image: linear-gradient(to bottom, black 0%, black 50%, transparent 100%);
    }
  }
  

  > p:first-of-type::first-letter {
    float: left;
    margin-top: 4px;
    margin-right: var(--space-4);
    color: var(--color-accent);
    @include font($weight: normal);
    font-size: 79px;
    line-height: 0.82;
    font-family: 'Thorowgood Egyptian Web', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;

    @include mq($from: tablet) {
      font-size: 85px;
      line-height: 0.82;
      margin-right: var(--space-6);
      margin-top: 7px;
    }

    @include mq($from: desktop) {
      font-size: 90px;
      line-height: 0.82;
      margin-right: var(--space-8);
      margin-top: 4px;
    }
  }
}
