// ------------------------------------
// Components > Navigation
// ------------------------------------

.c-nav-wrap {
  min-width: 0;
}

.c-nav {
  display: flex;
  gap: var(--space-24);
  padding: var(--space-8) 0;
  overflow-x: visible;
  -ms-overflow-style: none;  // Edge
  scrollbar-width: none;     // Firefox
  justify-content: flex-start;
  white-space: nowrap;

  &::-webkit-scrollbar { display: none; }

  &--main {
    @include mq($from: desktop) {
      justify-content: flex-start;
      gap: var(--space-24);
    }

    @include mq($until: tablet) {
      gap: var(--space-4);
      padding: var(--space-4) 0;
      justify-content: flex-start;
    }
  }

  &__item {
    font-family: "IIBalfron", Verdana, Segoe UI, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 27px;
    transition: font-size 0.3s ease;
    position: relative;
    letter-spacing: 0.03em;

    &:not(:first-child) {
      padding-left: var(--space-24);
      position: relative;

      @include mq($until: tablet) {
        padding-left: var(--space-8);
        padding-right: var(--space-8);
      }

      &:before {
        border-left: var(--border-width) var(--border-style) var(--color-accent);
        content: '';
        height: var(--space-16);
        left: 0;
        width: 1px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    @include mq($until: tablet) {
      font-size: 25px;
    }

    @include mq($until: mobile) {
      font-size: 25px;
    }
  }

  &__link {
    display: block;
    color: var(--color-text-primary);
    text-decoration: none;
    padding: 4px 0;
    position: relative;
    transition: color 0.2s ease;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-text-primary);
      transform: scaleX(0);
      transition: transform 0.2s ease;
    }

    &:hover {
      color: var(--color-text-primary);
      
      &:after {
        transform: scaleX(1);
      }
    }

    &--current {
      color: var(--color-text-primary);

      &:after {
        content: '';
        position: absolute;
        bottom: -12px;
        left: 0;
        width: 100%;
        height: 7px;
        background-color: #E32C22; // Red color from the banner
        transform: scaleX(1);
      }

      .home-template & {
        text-decoration: none;
      }
    }
  }
}
