// ------------------------------------
// Components > Section
// ------------------------------------

.c-section {
  margin-top: var(--space-64);

  &--editors-pick {
    padding-top: var(--space-32);
    padding-bottom: var(--space-32);
    background: var(--color-background-secondary);


    .c-byline {
      text-decoration: none;
      
      a {
        text-decoration: none !important;
        border-bottom: 0 !important;

        &:hover {
          text-decoration: none !important;
        }
      }
    }
  }

  .c-section-heading {
    border-bottom: 6px solid black;
    margin-bottom: var(--space-32);

    h2.c-section-heading {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &--editors-pick .c-section-heading {
    border-bottom: none !important;
  }

  &--latest {
    .c-section-heading a {
      color: var(--ghost-accent-color);
      text-decoration: none;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s ease-in-out;
      padding-bottom: 4px;
      display: inline-block;

      &:hover {
        border-bottom: 3px solid black;
      }
    }
  }
}
