// ------------------------------------
// Tokens > Fonts
// ------------------------------------

// Thorowgood Egyptian - Primary Display Font
@font-face {
  font-family: 'Thorowgood Egyptian Web';
  src: url('/assets/fonts/thorowgood/ThorowgoodEgyptian-Medium-Web.woff2') format('woff2'),
       url('/assets/fonts/thorowgood/ThorowgoodEgyptian-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// IvyPresto Display Regular
@font-face {
  font-family: "IvyPresto Disp Reg";
  font-weight: normal; 
  font-style: normal; 
  font-display: swap; 
  src: url("//fastly-cloud.typenetwork.com/projects/8326/1c35_vdef_emp_97a6.woff2?54e1f46aa795a769489e6e68f85c71648b59c3cd") format("woff2"),
       url("//fastly-cloud.typenetwork.com/projects/8326/1c35_vdef_emp_97a6.woff?54e1f46aa795a769489e6e68f85c71648b59c3cd") format("woff");
}
      
// IvyPresto Display Italic
@font-face {
  font-family: "IvyPresto Disp It";
  font-weight: normal; 
  font-style: italic; 
  font-display: swap; 
  src: url("//fastly-cloud.typenetwork.com/projects/8326/1c33_vdef_emp_97a7.woff2?54e1f46aa795a769489e6e68f85c71648b59c3cd") format("woff2"),
       url("//fastly-cloud.typenetwork.com/projects/8326/1c33_vdef_emp_97a7.woff?54e1f46aa795a769489e6e68f85c71648b59c3cd") format("woff");
}

// Miller Text Roman - Primary Body Font
@font-face {
  font-family: "MillerTextRoman";
  src: url('/assets/fonts/MillerTextRoman/font.woff2') format('woff2'),
       url('/assets/fonts/MillerTextRoman/font.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

// Miller Text Italic
@font-face {
  font-family: "MillerTextItalic";
  font-style: italic;
  src: url('/assets/fonts/MillerTextItalic/italic.woff2') format('woff2'),
       url('/assets/fonts/MillerTextItalic/italic.woff') format('woff');
  font-display: swap;
  font-weight: normal;
}

// IIBalfron - Display Font
@font-face {
  font-family: "IIBalfron";
  src: url('/assets/fonts/IIBalfron/font.woff2') format('woff2'),
       url('/assets/fonts/IIBalfron/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
