// ------------------------------------
// Trumbs > Colors
// ------------------------------------

.u-color-text-brand {
  color: var(--color-accent);
}

.u-color-text-secondary {
  color: var(--color-text-secondary);
}

.u-color-background-secondary {
  background-color: var(--color-background-secondary);
}